EMBEDDING_URL=your_embedding_service_url_here
SUMMARY_URL=your_summary_service_url_here

DATABASE_URL=postgresql+psycopg2://admin:admin@localhost:10001/precedentia-users

SECRET_KEY=your key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=320
MAIL_USERNAME=user@gmail.com
MAIL_PASSWORD=your password
MAIL_FROM=user@gmail.com
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=True
MAIL_SSL_TLS=False